/* 
Transition timing function

ease significa desacelerar/frenar

ease: La transición comienza lentamente, acelera bruscamente y luego disminuye lentamente hacia el final.

ease-in: La transición comienza lentamente, y luego se acelera progresivamente hasta el final.

ease-out: La animación comienza abruptamente y luego se ralentiza progresivamente hacia el final. 

ease-in-out: La animación comienza lentamente, se acelera y luego se ralentiza hacia el final.

linear: La transición se mueve de principio a fin a una velocidad constante.

función calc: Nos sirve para hacer cálculos.
  calc(value operation value...)

Shorthand transition

transition: 2s transform ease-in
transition: transform 2s ease-in
transition: ease-in transform 2s
*/

body {
  margin: 0;
}

.container {
  background-color: salmon;
}

.box {
  width: 80px;
  height: 60px;
  font-size: 0.8em;
  background-color: royalblue;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover .box {
  transform: translateX(calc(100vw - 100%));
  
}

 /*transition-timing-function : */

.ease {
  transition: transform 2s ease ;
  -webkit-transition: transform 2s ease ;
  -moz-transition: transform 2s ease ;
  -ms-transition: transform 2s ease ;
  -o-transition: transform 2s ease ;
}

.ease-in{
  transition: transform 2s ease-in;
  -webkit-transition: transform 2s ease-in;
  -moz-transition: transform 2s ease-in;
  -ms-transition: transform 2s ease-in;
  -o-transition: transform 2s ease-in;
}

.ease-out{
  transition: transform 2s ease-out;
  -webkit-transition: transform 2s ease-out;
  -moz-transition: transform 2s ease-out;
  -ms-transition: transform 2s ease-out;
  -o-transition: transform 2s ease-out;
}

.ease-in-out{
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
  -ms-transition: transform 2s ease-in-out;
  -o-transition: transform 2s ease-in-out;
}

.linear{
  transition: transform 2s linear;
  -webkit-transition: transform 2s linear;
  -moz-transition: transform 2s linear;
  -ms-transition: transform 2s linear;
  -o-transition: transform 2s linear;
}