.nav-indice {
    /* opacity: 0.75; */
    padding: 0;
    line-height: 2;
    position: sticky;
    top: 130px;
    /* border: 1px solid lightcoral; */
}

/* ul->class: list-indice */
.list-indice {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    /* border: 1px solid black; */
}

.list-indice li{
    margin-bottom: 2em;    
}

.list-indice li:hover {
    display: block;
}

.list-indice li a {
    display: block;
    /* border: 1px dashed purple; */
    padding-left: 0.5em;
    margin-left: 0.5em;
}

.list-indice li a:hover {
    display: block;
    /* background-color: rgb(183, 204, 246); */    
    font-weight: 500;
    border-radius: 5px;    
}

.list-indice li .sub-list-indice{
    display: none;
}

.sub-list-indice li{
    padding: 0;
    margin: 0px;
    width: 100%;    
}

.list-indice li:hover .sub-list-indice{
    display: block;
}

