@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;600&family=Poppins:wght@300;500&family=Roboto:wght@300;500&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 300;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4,h5{
 line-height: 2;   
}

section, article{
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column; */    
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8em;
    margin: 0 0;
}

h3{
    opacity: 0.9;
}

h3,
h4,
h5 {
    margin: 1.2em 0;
}

dl{
    padding: 1em 0 0 1em;
}

p{
    font-size: 1.5em;
    text-align: justify;
}

p.destacado{    
    padding: 1em 0.5em;
    margin: 1em 0;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;    
}

p.p-list{    
    margin: 1em 0;
    padding: 0 0.5em;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;    
}

pre{
    border-radius: 10px;    
}

i{
    margin-right: 5px;    
    color: orange;
}

ul{    
    list-style: none;    
}

ul li a{
    text-decoration: none;    
    color: rgb(115, 124, 124);
}

ol{
    margin: 3rem 0;
    line-height: 2;
    text-align: justify;
}

article{
    /* border: 1px solid green; */
    margin-bottom: 60px;
}

figure{
    /* border: 1px solid black; */
    width: 70%;
    height: auto;
    margin: 4rem auto;
    text-align: center;
}

.content-gen{
  border:1px solid orangered;
  height: auto;
}

.contenido{
  border:1px solid black;  
}

.iconos{
    margin-right: 10px;
}

.item-nav:hover .ul-nav {
    display: block;
}

.ul-nav{
    display: none;
}

.position-nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.position-nav-2{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 55px;
    z-index: 99;
}

pre span.comentario{
    color: white;
    opacity: 0.7;
}

.pre-content {    
    background-color: #29313f;
    color: white;
    padding: 1rem 3rem;
    margin: 0;
    line-height: 2;
    white-space: pre-line;
    font-size: 1.2rem;    
}

.pre-content-list{
    color: white;
    border: 3px solid grey;
    padding: 0;
    margin: 2em 0;
    font-size: 1.1em;
    background-color: #29313f;
    line-height: 1.5;
    white-space: pre-wrap;
}

.text-lila {
    color: rgb(238, 109, 238);
}

.text-yellow{
    color: yellow;
}

.text-green{
    color: #9ed72f;
}

.comentario {
    opacity: 0.5;
}

.listado{
    margin-bottom: 2em;
    line-height: 2;
}

.listado li{
    padding: 0 2em;
}

.pre-div-name{
    /* border: 1px solid lightcoral; */
    width: 100%;
    padding: 0;
}

.pre-div-name .pre-content-list{
    width: 100%;
    margin-top: 0;
}

p.name_file{
    background-color: #ffc107;
    margin:0;
    padding: 0 0.5em;
    font-size: small;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    bottom: -1px;
    left:5px;
}

.div-table{    
    margin: 1.5em auto;    
    width: 90%;
    height: auto;
}