h1{
    color:orange;
    font-family: 'Lato', sans-serif;    
}

h2{
    color:black;    
    font-family: 'Poppins', sans-serif;    
}

p.destacado-js{
    background-color: rgba(248, 220, 138,0.7);
    border-right: 10px solid #ffc107;
}

p.p-list-js{
    background-color: rgb(175, 215, 175);
    border-right: 10px solid green;    
}

.bg-orange{
    background-color: rgba(255, 193, 7, 0.5);;
}