@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;600&family=Poppins:wght@300;500&family=Roboto:wght@300;500&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 300;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.5em;
}

h1{
    color:orange;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h2{
    color:black;    
    font-family: 'Poppins', sans-serif;    
}

h3,
h4,
h5 {
    margin: 1.2em 0;
}

dl{
    padding: 1em 0 0 1em;
}

p.destacado{    
    background-color: rgba(248, 220, 138,0.7);
    border-right: 10px solid #ffc107;
    padding: 1em 0.5em;
    margin: 2em 0;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}

.bg-orange{
    background-color: rgba(255, 193, 7, 0.5);;
}

.listado{
    margin-bottom: 2em;
}

.pre-content-list{
    color: white;
    border: 3px solid grey;
    padding: 0;
    margin: 2em 0;
    background-color: #29313f;
    line-height: 1.5;
    white-space: pre-wrap;
}