$c-primary:blue;
$c-primary-1: #2166cc;
$c-primary-2: rgb(96,138,201);
$c-primary-3: rgba(96, 138, 201,0.4);
$c-aqua: aquamarine;
$c-skyblue:skyblue;
$c-skyblue-2:rgb(68, 157, 192);
$c-bl:rgb(63, 135, 156);
$c-coral:coral;
$c-red: red;
$c-orange: orange;
$c-yellow: yellow;
$c-green: green;
$c-grease: #5c615c;
$c-grease-1: #e8ebe8;
$c-black:black;