/*config margenes*/
$m-0: 0;
$m-1: 1em;
$m-2: 1.2em;
$m-3: 1.3em;
$m-4: 1.4em;
$m-5: 1.5em;
$m-6: 2em;
$m-7: 3em;
$m-8: 4em;
$m-9: 5em;
$m-10: 6em;

/*config padding*/
$p-0: 0; 
$p-0-1: 0 1em; 
$p-1: 1em 0;
$p-1-2: 1em 2em;
$p-2: 1.2em;
$p-3: 1.3em;
$p-4: 1.4em;
$p-5: 1.5em;

/*config widht*/
$w-100:100%;
$w-1:95%;
$w-2:90%;
$w-3:85%;
$w-4:80%;
$w-5:75%;
$w-6:50%;
$w-7:25%;
$w-8:15%;
$w-9:10%;

/*config borders*/
$b-1:5px;
$b-2:10px;
$b-3:15px;