$black:black;
$blue: blue;
$blue-2: rgb(76, 125, 231);
$red: red;
$orange: orange;
$orange-2: rgb(221, 155, 32);
$skyblue: skyblue;
$skyblue-2: rgb(208, 232, 241);
$yellow: yellow;
$yellow-2: rgb(226, 226, 181);
$gray: gray;
$gray-2:rgb(248, 240, 240);
$aqua: aqua;
$background: #e4f0f5;
$white: white;