/*width*/
$w-0: 0;
$w-100: 100%;
$w-90: 90%;
$w-80: 80%;
$w-50: 50%;
$w-30: 30%;

/*font-size*/
$fs-1: 1rem;
$fs-1-em: 1em;
$fs-1-25: 1.25rem;
$fs-1-5: 1.5rem;
$fs-2: 2rem;
$fs-3: 3rem;

/*margins*/
$m-0: 0;
$m-1: 1rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;

$my-1: 1rem 0;
$my-2: 2rem 0;
$my-3: 3rem 0;
$my-4: 4rem 0;
$my-5: 5rem 0;

$mx-1: 0 1rem;
$mx-2: 0 2rem;
$mx-3: 0 3rem;
$mx-4: 0 4rem;
$mx-5: 0 5rem;


/*paddings*/
$p-0: 0;
$p-0-5:0.5rem;
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;

$py-1: 1rem 0;
$py-2: 2rem 0;
$py-3: 3rem 0;
$py-4: 4rem 0;
$py-5: 5rem 0;

$px-1: 0 1rem;
$px-2: 0 2rem;
$px-3: 0 3rem;
$px-4: 0 4rem;
$px-5: 0 5rem;